/* ---- CSS Demo ---- */

/*  --------------- Box Sizing -----------------  */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  /*  --------------- Responsive Images -----------------  */

  img {
    max-width: 100%;
  }

  /*  --------------- Utility Classes -----------------  */

.container {
  max-width: 960px;
  width: 90vw;
  margin: 40px auto;
}
  
  /*  --------------- Global Styles -----------------  */
  
  body{
    font-family: "roboto-thin", sans-serif;
    margin: 0;
  }
  
  header.primary{
    background-color: #559dce;
    text-align: center;
    /* text-shadow: 1px 1px 5px #000000; */
    /* T, R, B, L */
    /* padding: 10px 20px 10px 20px; */
    /* To value Top/Bottom Left/Right */
    padding: 10px 20px;
  }
  
  header.primary h1 {
    font-size: 20px;
    margin: 20px 0;
  }
  
  header.primary h1 a {
    color: #ffffff;
    text-decoration: none;  
  }
  
  header.primary h2 {
    margin: 0;
  }

  header.primary nav {
    max-width: 750px;
    margin: 20px auto;
  }

  header.primary ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  header.primary ul li {
    list-style-type: none;
  }

  header.primary nav a {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
    border-radius: 15px;
    border: thin solid #ffffff;
    transition: 0.4s;
  }

  header.primary nav a:hover {
    background-color: rgba(0 0, 0, 1);
    text-decoration: underline;
  }

  #content {
    line-height: 1.5;
  }

  section#content.container h2 {
    border-bottom: 1px ridge #c0c0c0;
  }

  #content h3 {
    border-left: 7.5px solid #363636;
    padding-left: 5px;
  }

  #blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    
  }

  #blog h2 {
    display: block;
  }

  #blog .post {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 2px;
    font-size: 0.9rem;
    transition: 250ms linear;
  }

  #blog .post:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
  }

  #blog figure {
    margin: 0;
  }

  #blog figcaption {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    color: #c8c8c8;
    margin-bottom: 10px;
  }

  #blog header {
    font-size: 0.8rem;
  }

  #blog header h2 {
    margin: 5px 0;
  }

  #blog a {
    color: #005678;
  }

/* ---------------  Media Queries --------------- */

  @media screen and (max-width: 600px) {
    header.primary ul {
      flex-direction: column;
      gap: 20px;
      max-width: 400px;
      margin: auto;
    }
    header.primary nav a {
      display: block;
    }
  }