*, *:before, *:after {
    box-sizing: inherit;
}

/*  --------------- Responsive Images -----------------  */

img {
    max-width: 100%;
  }

  /*  --------------- Utility Classes -----------------  */

.container {
  max-width: 960px;
  width: 90vw;
  margin: 40px auto;
}

.img-left {
  margin: 10px 20px 10px 0;
  float: left;
}

.img-center {
  margin: 10px;
  display: block;
  margin: auto;
}

.img-right {
  margin: 10px 0 10px 20px;
  float: right;
}

.img-left, .img-center, .img-right {
  padding: 5px;
  border-radius: 5px;
}
  
/*  --------------- Global Styles -----------------  */

body {
    font-family: "Inter", "Times New Roman", "Georgia", "Times", "serif";
    box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: 100vh;
}

/*  --------------- Content -----------------  */

main {
    display: grid;
    gap: 5px;
    grid-template-areas:
    "aside   content"
    "article content"
    "footer  footer";
    grid-template-columns: 300px 1fr;
}

#sidebar aside {
    grid-area: aside;
    padding: 0.5em 0;
    font-size: 1.2rem;
    display: flex;
    gap: 1em;
    border-bottom: 1px solid #ddd;
}

#sidebar article {
    grid-area: article;
}

#owner-icon {
    width: 75px;
    height: 100px;
    border-radius: 4px;
}

aside h1 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    line-height: 2em;
}

#content article h2 {
    font-weight: 500;
}

aside h6 {
    font-size: 0.8em;
    font-weight: 500;
    color: #555;
    margin: 0;
}

.square-nav {
   margin: 0;
}

.square-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}

.square-nav li {
    list-style-type: none;
}

.square-nav a {
    color: #474747;
    text-decoration: none;
    background-color: #f0f0f0;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    transition: 500ms;
}

.square-nav a:hover {
    color: #000000;
    text-decoration: underline;
}

.square-nav h3 {
    font-weight: 500;
}

#content {
    grid-area: content;
    border-left: 1px solid #ddd;
    padding-left: 8px;
    margin: 0;
}

footer {
    grid-area: footer;
    font-size: 1.5rem;
    text-align: center;
    border-top: 1px solid #ddd;
    background-image: url("assets/img/Grundge.webp");
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 2em;
}

footer ul li {
    font-size: 16px;
    padding: 0;
    list-style-type: none;
}

footer ul li a {
    color: #303dab;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer h6 {
    font-weight: 600;
    padding: 5px;
    margin: 0;
}

#up-arrow {
    position: absolute;
    right: 8px;
    bottom: 8%;
    font-size: 2em;
    text-decoration: none;
    color: #333;
    transition: 500ms ease-in-out;
}

#up-arrow:hover {
    margin-bottom: 4px;
    text-shadow: -2px 4px 2px #aaa;
}