*, *:before, *:after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

/*  --------------- Responsive Images -----------------  */

img {
    max-width: 100%;
}

/*  --------------- Utility Classes -----------------  */

.container {
  max-width: 960px;
  width: 90vw;
  margin: 40px auto;
}

.img-left {
  margin: 10px 20px 10px 0;
  float: left;
}

.img-center {
  margin: 10px;
  display: block;
  margin: auto;
}

.img-right {
  margin: 10px 0 10px 20px;
  float: right;
}

.img-left, .img-center, .img-right {
  border: 1px solid #c0c0c0;
  padding: 5px;
  border-radius: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-decoration: lowercase;
}

/*  --------------- Color Theme -----------------  */

:root {
  --blue-theme: #1616c4;         /* Blue Theme */
  --extra-dark-blue: #04051c;    /* Extra Dark Blue */
  --highlight-selection: #efff63;/* Highlight / Selection */
  --background-color: rgb(227, 232, 240);   /* Background */
  --black-color: #01020f;        /* Black */
  --white-color: #fcfcfc;        /* White */
  --small-screen: 480px;
  --medium-screen: 768px;
  --large-screen: 1024px;
  --nav-height: 60px;
  --transition: all 0.2s ease;
}
  
/*  --------------- Fonts -----------------  */

/* VARIABLE */

@font-face {
  font-family: "TT Interphases Pro";
  src: "../fonts/tt-interphases-pro/TT Interphases Pro Mono Trial Variable.ttf" format("truetype");
}

/*  --------------- Global Styles -----------------  */

body {
    font-family: "TT Interphases Pro", "Open Sans", Arial;
    line-height: 1.2rem;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

::selection {
  color: var(--black-color);
  background-color: var(--highlight-selection);
  mix-blend-mode: normal;
}

/* Circle that follows the cursor */
.cursor {
    position: absolute;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    mix-blend-mode: multiply;
    background-color: var(--blue-theme);
    opacity: 0.25;
    z-index: 100;
    transition: all 50ms ease-in-out;
    pointer-events: none;
}

/*  --------------- Default Selectors -----------------  */

a {
  text-decoration: none;
  color: var(--black-color);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

table td, table th {
  font-size: 0.8rem;
  border-bottom: 1px solid var(--white-color);
  padding: 10px;
}

table th {
  text-transform: uppercase;
  text-align: left;
}

table td {
  text-align: right;
}

/*  --------------- Web Content -----------------  */

/* Hamburger button style */
.hamburger {
  display: none; /* Hidden by default */
  font-size: 30px;
  background: none;
  border: none;
  color: var(--white-color); /* Adjust color to fit your theme */
  cursor: pointer;
}

nav[role='navigation'] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

/* Styling for the ul */
nav[role='navigation'] ul {
  display: flex;
  justify-content: space-around; /* This will distribute space around items */
  gap: 50px;
  align-items: center;
  height: var(--nav-height);
  background-color: var(--blue-theme);
  margin: 0;
}

/* Specific styling for the first li element */
nav[role='navigation'] ul li:first-of-type {
  margin-right: auto;
  margin-left: 20px;
}

nav[role='navigation'] ul li:last-of-type {
  margin-right: 20px;
}

nav[role='navigation'] ul img {
  filter: invert(100%);
}

/* Styling for links within li elements */
nav[role='navigation'] ul li a {
  font-size: 15px;
  color: var(--white-color);
  font-weight: bold;
}

nav[role='navigation'] ul li a:hover {
  text-decoration: underline;
}

/* SpaceX logo img styling */
#logo {
  width: auto;
  height: 30px;
}

/* Div wrapper for logo */
#logo-wrapper {
  padding-right: 20%;
}

.text-area {
  width: 90%;
  margin: auto;
  padding: 20px;
}

.hero-section {
  background-color: var(--black-color); /* Black background as fallback */
  background-image: url("../img/dragon_featured.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: var(--nav-height);
}

.hero-section header {
  color: var(--white-color);
  text-transform: uppercase;
}

.hero-section h1 {
  font-size: clamp(4em, 10vw, 6em);
  text-align: center;
}

.hero-section p {
  font-size: clamp(0.8em, 1.5vw, 4em);
  font-weight: semibold;
  font-stretch: condensed;
  text-align: center;
}

.stats {
  background-color: var(--black-color);
  margin: 0;
  padding: 0;
}

.stats ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 1.2em 1em 1em;
}

.stats ul li {
  color: var(--white-color);
  display: inline-block;
}

.stats ul li span {
  font-size: 4rem;
  letter-spacing: 1.1rem;
  font-weight: bold;
  text-align: center;
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

.stats ul li h6 {
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

.overview {
  background-image: url("../img/dragon_2_hover_test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
  position: relative;
}

.overview div {
  background-color: rgba(250, 250, 250, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.overview div * {
  width: 50%;
}

.overview div h2 {
  font-size: 2rem;
}

.overview div p {
  font-size: 1.2rem;
  line-height: 1.5rem;  
}

.container{
  margin: 0 auto;
  padding: 1em;
}

.faq_header-title{
  font-size: 24px;
  color: var(--extra-dark-blue);
  margin-bottom: 30px;
  text-align: center;
}

.faq__panel {
  background-color: rgba(255, 255, 255, .34);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: .7rem;
  padding: 1rem;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.faq_panel:last-of-type {
  margin-bottom: 0;
}

.faq__label{
  padding-block: 7px;
  color: var(--blue-theme);
  cursor: pointer;
}

.faq__panel-answer{
  color: var(--extra-dark-blue);
  padding-top: 5px;
  padding-bottom: 7px;
}

.main-area {
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 2em;
} 

.main-area article {
  background-color: rgba(255, 255, 255, .34);
  border: 1px solid rgba(255, 255, 255, .5);
  min-height: 100px;
  min-width: 100px;
  border-radius: 0.7rem;
  padding: 1rem;
  gap: 2em;
  flex: 1;
}

.main-area ul li {
  min-height: 50px;
  background-color: rgba(255, 255, 255, .34);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: .7rem;
  padding: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.main-area ul li:last-child {
  margin-bottom: 0;
}

aside[role="complementary"] {
  padding: 3em;
  background-color: var(--extra-dark-blue);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

aside[role="complementary"] article {
  width: 40%;
  color: var(--white-color);
}

#social {
  background-color: var(--blue-theme);
  width: 100%;
  padding: 10px;
}

#social ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#social ul li {
  margin: 0;
}

#social h4 {
  font-size: 1.2rem;
  text-align: center;
  color: var(--white-color);
  margin: 0;
  padding: 0;
  display: inline;
}

#social ul li a div {
  color: white;
  font-size: 1.2rem;
}

nav[role="navigation-footer"] {
  background-color: var(--blue-theme);
}

nav[role="navigation-footer"] ul {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  gap: 40px;
  margin: 0;
  padding: 10px;
}

nav[role="navigation-footer"] ul li a {
  color: var(--white-color);
  font-weight: bold;
}

nav[role="navigation-footer"] ul li a:hover {
  text-decoration: underline;
}

#end {
  text-align: center;
  background-color: var(--blue-theme);
  margin: 0;
  padding: 10px;
}

#end p, #end a, #end a:hover {
  color: var(--white-color);
}

/* ---------- Customized for non-landing pages ---------- */
#hero-section-history, #hero-section-faq {
  height: 80vh;
}

#hero-section-history {
  background-image: url("../img/dragon_humans.jpg");
}

#hero-section-faq {
  background-image: url('../img/space_rainbow.jpg');
}

#hero-section-contact {
  background-image: url('../img/dragon_v2_interior.2.jpg')
}

#hero-section-history h1, #hero-section-history p, #hero-section-faq h1, #hero-section-faq p{
  mix-blend-mode: difference;
}

#stats-dark {
  background-color: var(--extra-dark-blue);
}

#stats-dark ul li {
  color: var(--white-color);
}

#stats-light {
  background-color: var(--white-color);
}

#stats-light ul li {
  color: var(--extra-dark-blue);
}

#main-area-history {
  flex-direction: column;
}

#main-area-history table td {
  text-align: left;
  border-bottom: 1px solid var(--extra-dark-blue);
  min-width: 15vw;
}

#main-area-history thead td {
  font-weight: bold;
  border-bottom: 2px solid var(--extra-dark-blue);
}

table td {
  font-size: 0.8rem;
  border-bottom: 1px solid var(--white-color);
  padding: 10px;
}

table td:nth-child(even) {
  text-align: right;
}

/* ----------
              Contact Form (Contact Page)
              Design from "Responsive Contact Form" by Bobby Korec on Codepen.
              Link: https://codepen.io/bobbykorec/pen/qOGbyr
---------- */

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  font-size: 1.5rem;
  color: var(--extra-dark-blue);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: var(--white-color);
  color: var(--blue-theme);
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: var(--blue-theme);
  font-size: 0.8rem;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: var(--blue-theme);
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: var(--blue-theme);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  text-decoration: underline;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: var(--extra-dark-blue);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* ---------- Adjustments for medium screens (tablets) ---------- */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* Show hamburger menu on tablets and below */
  }

  .hero-section {
    height: 60vh;
    gap: 0;
  }

  #social h4 {
    font-size: 1.1rem;
  }

  nav[role="navigation-footer"] ul {
    gap: 30px;
  }

  aside[role="complementary"] {
    justify-content: center;
  }
  
  aside[role="complementary"] article {
    width: 100%;
  }

}

/* ---------- Adjustments for small screens (phones) ---------- */
@media (max-width: 480px) {
  .hamburger {
    display: block; /* Show hamburger menu on tablets and below */
  }

  .hero-section {
    height: 40vh;
  }
  
  .stats ul li span {
    font-size: 3rem;
    letter-spacing: 1rem;
  }

  .stats ul li h6 {
    font-size: 0.6rem;
  }

  #social h4 {
    font-size: 1rem;
  }

  nav[role="navigation-footer"] ul {
    gap: 20px;
  }

  nav[role="navigation-footer"] ul li a {
    font-size: 0.8rem;
  }

  #social ul li a div {
    font-size: 1rem;
  }

  aside[role="complementary"] {
    justify-content: center;
  }
  
  aside[role="complementary"] article {
    width: 100%;
  }
}